version: '2'
services:
  frontend:
    build: ./client
    ports:
      - '3000:3000'
    depends_on:
      - backend
    tty: true
    stdin_open: true
  backend:
    build: ./server
    ports:
      - '5000:5000'